@use "../../styles/variables" as v;
@use "../../styles/mixins.scss" as m;

.inst-h2 {
  height: 100%;
  background-color: v.$color1;
  @include m.border-radius(10px);
  text-align: center;
  padding: 50px;


   @media (min-width:1200px){
    padding: 140px;
  } 
  @media (min-width:1400px){
    padding: 170px 50px;
    text-align: left;
  } 
}
