@use "../../styles/variables" as v;

.page-header{
    background-color: rgb(235, 235, 164);
    text-align: center;
    padding: 30px 0;
    font-weight: 600;
    color: rgb(22, 52, 109);
    text-transform: uppercase;
    text-shadow: 0 3px 7px v.$color2;
    letter-spacing: 0.5rem;
}